* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat;
}

.container {
	width: 1366px;
	margin: 0 auto;
}

.padding-site {
	padding: 0 98px;
}

.header {
	height: 360px;
	background-color: #f5f5f5;
}

.header h2 {
	font-size: 62px;
	font-weight: 100;
	line-height: 72px;
	margin-top: 152px;
	letter-spacing: 2px;
}

.header-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.logo {
	margin-top: 63px;
}

.menu {
	margin-top: 57px;
	margin-right: 113px;
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.menu a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 13px;
	letter-spacing: 2px
}

.menu a:hover {
	color: #212121;
}

.menu .active-link {
	color: #212121;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}

.search {
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-left: 10px;
}


main {
	height: 563px;
}

.footer {
	height: 384px;
	background-color: #f5f5f5;
}

.footer-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 59px;
}

.contacts {
	margin-right: 90px;
	margin-top: 120px;
}

.contacts h4 {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;

}

.contacts p {
	color:#212121;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	margin-top: 12px;
}

.information-links {
	margin-top: 120px;
}

.information-links h4 {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 10px
}

.information-links a {
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
}

.information-links a:hover {
	text-decoration: underline;
}

.links-block-center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.links-block-left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-right: 103px;
}

.links-block-right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.touch {
	width: 363px;
	padding-left: 78px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 120px;
}

.touch h4 {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;	
	margin-bottom: 10px;
}

.touch p {
	color: #212121;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	margin-bottom: 20px;
}

form {
	position: relative;
}

button {
	position: absolute;
	left: 330px;
	top: 14px;
	background: url(images/cover.png);
	width: 21px;
	height: 17px;
	border: none;
}

input[type="email"] {
	border: 1px solid #d9dee1;
	background-color: #ffffff;
	width: 368px;
	height: 46px;
	font-family: inherit;
	padding: 19px 220px 17px 19px;
	box-sizing: border-box;
}

.bottom-text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    width: 100%;
	align-items: center;
}

.social-links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.social-links li {
	list-style: none;
	border-radius: 50%;
	padding: 5px 6px;
	background-color: grey;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}


.twitter {
	cursor: pointer;
	background: url(images/icon-twitter.png) 8px 8px no-repeat;
}

.twitter:hover {
	background-color: #00acee;
}

.pinterest {
	cursor: pointer;
	background: url(images/icon-pinterest.png) 8px 8px no-repeat;
}

.pinterest:hover {
	background-color: #c8232c;
}

.google {
	cursor: pointer;
	background: url(images/icon-google-plus.png) 8px 8px no-repeat;
}

.google:hover {
	background-color: #db4a39;

}

.linkedin {
	cursor: pointer;
	background: url(images/icon-linkedin.png) 8px 8px no-repeat;
}

.linkedin:hover {
	background-color: #0e76a8;
}

.contact-location {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding-top: 71px;	
}

.californiya {
	width: 368px;
	height: 368px;
	border: 1px solid #9c9c9c;
	position: relative;
	background
}

.contact-location img {
	text-align: center;
	margin-top: 48px;
	margin-bottom: 34px;
}

.californiya:hover .block-text {
	display: block;
}

.block-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 368px;
	height: 368px;
    border: 1px solid #9c9c9c;
    background-color: #fff;
    opacity: 0.9;
    display: none;
    box-sizing: border-box;
    text-align: center;
}

.block-text h4 {
	text-transform: uppercase;
	font-size: 21.91px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	transform: scaleX(1.0041);
	letter-spacing: -1px;
}

.block-text p {
	font-size: 14px;
	font-weight: 700;
	line-height: 20.082px;
}

.california-text {
	color:#6c6c6c;
	font-size: 14px;
	font-weight: 700;
	line-height: 20.082px;
}

.california-address {
	color: #6c6c6c;
	font-size: 14px;
	line-height: 20.082px;
	transform: scaleX(1.0041);
}

.margin-block {
	margin-top: 10px;
}